<html>
<head>

<title>USA.gov's list of government URLs that don't end in .gov or .mil </title>
</head>
<body>
{% set urls = queries.urls.search_with_url_arguments() %}
<h1>USA.gov's list of government URLs that don't end in .gov or .mil </h1>
<a href="https://github.com/GSA/govt-urls/">Documentation, source code, and bulk download</a> | <a href="http://localhost:7000/api/v1/q/urls.json">API</a>
<h2>Using the API</h1>
<p>The URL's API is at <a href="/api/v1/q/urls.json">/api/v1/q/urls.json</a>. It supports two parameters:
<ol>
<li><strong>filter_collection</strong>: a short code that describes the subset of the URL's database you want to access (most are US states and territories). See the drop-down list below.</li>
<li><strong>page</strong>: the page number you wish to retrieve.</li>
</ol>
</p>

<h2>Preview</h2>
<form>
<strong>collection</strong>:<select name="filter_collection">

{% for collection in queries.urls.possible_values_for('collection')|sort(attribute='term') %}
<option value="{{collection.term}}">{{collection.term}}</option>
{% endfor %}
</select>
<input type="submit" value="Apply filter"/>
</form>
<ul>
{% for url in urls %}
<li> <a href="http://{{url.url}}">{{url.url}}({{url.collection}})</a></li>
{% endfor %}
</ul>


<h2>Jump to a page</h2>
{% for pagenum in range(1, urls.pages+1) %}
    {% if pagenum != urls.current_page %} 
    <a href="{{ urls.url_for_page(pagenum) }}">{{pagenum}}</a> 
    {% else %}
    {{ pagenum }} 
    {% endif %}
{% endfor %}

</body>
</html>
